.Board{

    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.BoardPart{
    margin: 5px;;
    height: 43px;
    width: 8.7%;
}

li{
    list-style-type: none;
    display: inline;
}

ul{
    list-style-type: none;
}

div{
    width: 500px;
    float: left;
}
span{
    overflow: auto;
    position: absolute;
    display: inline;
}

p{
    font-family: Algerian;
    color: black;
    font-size: 30px;
}